main section {
    display: flex;
    padding: 1%;
    background-color: E7E7E7;
    margin: 1% 0% 0% 0%;
    width: 79vw;
    display: grid;
    grid-template-columns:  0.4fr 0.4fr 0.4fr 0.4fr 0.5fr 0.4fr;
}
.img1 {
    width: 8vw;
    height: 9vw;
    image-rendering: pixelated;
}
.text1 {
    font-size: 2vw;
    font-family: sans-serif;
    width: 10vw;
    margin-left: 3vw;
}
.img2 {
    width: 10vw;
    height: 3vw;
    margin-top: 3vw;
}
main section article {
    display: flex;
    margin-left: 3%;
}
.img4 {
    width: 13vw;
    height: 7vw;
    margin-top: 1vw;
}
.img3 {
    width: 13vw;
    height: 6vw;
    margin-top: 50%;
}
section {
    width: 90%;
}
.articl1{
    width: 16%;
}
.article2 {
    width: 16%;
    height: 5%;
    margin-left: 1%;
    margin-top: 0.5%;
}
.article3 {
    width: 16%;
    height: 5%;
}
.article4 {
    width: 16%;
    height: 5%;
}
.article5 {
    width: 16%;
    height: 5%;
}
.article6 {
    width: 16%;
    height: 5%;
    margin-left: 15%;
}
.img5 {
    width: 600%;
    height: 600%;
    margin-top: 50%;
}
.img6 {
    width: 60%;
    height: 60%;
}
.img7 {
    width: 50%;
    height: 50%;
}
.img8 {
    width: 100%;
    height: 100%;
}
.img9 {
    width: 50%;
    height: 50%;
}
.text2 {
    font-size: 2vw;
    font-family: sans-serif;
    margin-top: 3vw;
}

.img11 {
    width: 500%;
    height: 100%;
}
.text3 {
    font-size: 150%;
    font-family: sans-serif;
    margin-top: 100%;
}
.img12 {
    width: 70%;
    height: 70%;
}
.text13 {
    margin-left: 0%;
    font-size: 150%;
    font-family: sans-serif;
    width: 50%;
    height: 50%;
}
.img13 {
    width: 60%;
    height: 60%;
}

.article9 {
    width: 13.5%;
    height: 5%;
}
.article10 {
    margin-left: 2.5%;
}
.text4 {
    font-size: 150%;
    font-family: sans-serif;
}
.article15 {
    width: 9%;
    height: 5%;
}
.onetwo {
    background-color: white;
    width: 79vw;
}
.onetwo article {
    margin-left: 4%;
}
.onetwo p {
    font-size: 2vw;
    font-family: sans-serif;
}
.boom2 {
    margin-left: 1vw;
}
.boom3 {
    margin-left: 1vw;
}
.boom4 {
    margin-left: 1vw;
}
.boom5 {
    margin-left: 3vw;
}
.boom6 {
    margin-left: 1vw;
}
.one1 {
    font-family: sans-serif;
    text-align: center;
    width: 15vw;
    height: 3vw;
    position: absolute;
    left: 40.1vw;
    top: 5.4vw;
    color: white;
    background-color: lightblue;
    padding: 0%;
    border: 0.5vw solid lightblue;
    border-radius: 30vw;
    font-size: 2vw;
}
.genshin {
    margin-left: 40vw;
    margin-top: 2vw;
    width: 15vw;
    height: 8vw;
    border-radius: 4vw;
}
.two2 {
    display: flex;
}
header section {
    display: flex;
}
header section article .abob1 {
    width: 20vw;
}
header section article .abob2 {
    width: 20vw;
}
header section article .abob3 {
    width: 23vw;
    height: 12vw;
}
}
header section article p {
    font-size: 2vw;
    font-family: sans-serif;
}
.p1 {
    text-align: center;
    font-size: 1.5vw;
    font-family: sans-serif;
    background-color: white;
}
.p2 {
    text-align: center;
    font-size: 1.5vw;
    font-family: sans-serif;
    background-color: white;
}
.p3 {
    text-align: center;
    font-size: 1.5vw;
    font-family: sans-serif;
    background-color: white;
}
header section article {
    margin-left: 10%;
}
.h1 {
    font-family: sans-serif;
    text-align: center;
    margin-top: 1vw;
    font-size: 3vw;
}
h2 {
    font-family: sans-serif;
    margin-left: 3%;
    font-size: 2vw;
}
header article p {
    background-color: E7E7E7;
    padding: 1vw;
    font-family: sans-serif;
    font-size: 2vw;
}
.abob10 {
    font-size: 150%;
    font-family: sans-serif;
    background-color: E7E7E7;
    padding: 1%;
    width: 50%;
    margin-left: 1%;
}
.articl1 {
    background-color: D9D9D9;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 20%;
}
.articl2 {
    background-color: D9D9D9;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    width: 20%;
    margin-top: 1%;
    margin-bottom: 2%;
}
p a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
p a:hover {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 103%;
    color: purple;
}
.second {
    position: absolute;
    font-size: 2.5vw;
    text-decoration: none;
    color: black;
    right: 4vw;
    font-family: sans-serif;
    top: 5vw;
    background-color: lightblue;
    padding: 1vw;
    border-radius: 3vw;
    box-shadow: 0.5vw 0.8vw 0.5vw 0.3vw grey;
}
.first {
    position: absolute;
    font-size: 2.5vw;
    text-decoration: none;
    color: black;
    left: 4vw;
    font-family: sans-serif;
    top: 5vw;
    background-color: lightblue;
    padding: 1vw;
    border-radius: 3vw;
    box-shadow: 0.5vw 0.8vw 0.5vw 0.3vw grey;
}
.second:hover {
    position: absolute;
    font-size: 3vw;
    text-decoration: none;
    color: purple;
    right: 3vw;
    font-family: sans-serif;
    background-color: lightblue;
    padding: 1vw;
    border-radius: 5vw;
    box-shadow: 0.7vw 0.7vw 0.3vw 0.4vw grey;
}
.first:hover {
    position: absolute;
    font-size: 3vw;
    text-decoration: none;
    color: purple;
    left: 3vw;
    font-family: sans-serif;
    background-color: lightblue;
    padding: 1vw;
    border-radius: 5vw;
    box-shadow: 0.7vw 0.7vw 0.3vw 0.4vw grey;
}
.two {
    background-color: lightblue;
    box-shadow: 1% 1% 1% 1%;
}
body {
    background-image: linear-gradient(	#A2FFFB, #80FFFA, #55FFF9, #1CA6A1)
}
.onetwo {
    background-color: E7E7E7;
}
.p1, .p2, .p3{
    background-color: E7E7E7;
}
main section {
    padding-right: 0%;
    margin-right: 0%;
    margin-left: 1%;
}
.article6 {
    padding-right: 0%;
    margin-right: 0%;
    display: flex;
    float: right;
}
footer section {
    margin-left: 1%;
}
.img42 {
    width: 1200%;
    height: 1200%;
    margin-top: 0%;
}
.img32 {
    width: 1000%;
    height: 1000%;
    margin-top: 80%;
}
.article112 {
    width: 16%;
    height: 100%;
}
.none {
    width: 70%;
    height: 12%;
}
.text45 {
    margin-left: 12%;
    font-size: 150%;
    font-family: sans-serif;
    margin-top: 20%;
}
.text312 {
    font-size: 150%;
    font-family: sans-serif;
    margin-top: 300%;
}
.two22222 {
    font-size: 160%;
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    margin-left: 20%;
    background-color: lightblue;
    padding: 10 6 10 6%;
    width: 100%
}
.three33333{
    font-size: 160%;
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    margin-left: 60%;
    background-color: lightblue;
    padding: 6%;
    width: 100%;
}
.two22222:hover {
    font-size: 160%;
    text-decoration: none;
    font-family: sans-serif;
    color: purple;
    margin-left: 20%;
    background-color lightblue;
    padding: 12 8 12 8%;
    width: 100%
}
.three33333:hover {
    font-size: 160%;
    text-decoration: none;
    font-family: sans-serif;
    color: purple;
    margin-left: 60%;
    background-color: lightblue;
    padding:  12 8 12 8%;
    width: 100%;
}
