.genshin {
    width: 1663px;
    height: 827px;
    left: 0px;
    top: 0px;
}
body {
    margin: 0px;
}
.text {
    width: 1356px;
    height: 203px;
    font-size: 35px;
    margin-left: 145px;
    background-color: E7E7E7;
    padding: 30px;
    font-family: sans-serif;
    text-align: center;
}
.one {
    width: 400px;
    height: 250px;
    margin-left: 120px;
    padding-bottom: 70px;
}
.two {
    font-size: 40px;
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    margin-left: 450px;
}
.two:hover {
    font-size: 50px;
    text-decoration: none;
    font-family: sans-serif;
    color: purple;
}
.foot {
    font-size: 35px;
    text-align: center;
    background-color: E7E7E7;
    padding: 20px;
    font-family: sans-serif;
    width: 1356px;
    margin-left: 145px;
}
