.genshin {
    width: 100vw;
    height: 60vw;
    left: 0px;
    top: 0px;
}
body {
    margin: 0%;
}
.onetwo article {
    margin-left: 0vw;
}
main section article {
    display: flex;
    margin-left: 1vw;
}
.article3 {
    height: 5vw;
    margin-left: 0vw;
}
.boom1 {
    font-size: 2vw;
    font-family: sans-serif;
    margin-top: 3vw;
}
.article4 {
    width: 11vw;
    height: 5vw;
    margin-left: 2vw;
}
.article5 {
    width: 10vw;
    height: 8vw;
    margin-right: 6vw;
    padding-left: 2vw;
}
.article6 {
    padding-right: 0vw;
    margin-right: 0%;
    display: flex;
    float: right;
    width: 10vw;
    height: 5vw;
    margin-left: 4vw;
    margin-top: 1vw;
}
.article2 {
    width: 12vw;
    height: 5vw;
    margin-left: 0vw;
    margin-top: 0.5vw;
}
main section article {
    display: flex;
    margin-left: 1vw;
}
main section {
    padding-right: 0%;
    margin-right: 0%;
    margin-left: 1vw;
}
main section {
    display: flex;
    padding: 1vw;
    background-color: #E7E7E7;
    margin: 1vw 0vw 0vw 0vw;
    width: 82vw;
    display: grid;
    grid-template-columns: 0.4fr 0.4fr 0.4fr 0.4fr 0.5fr 0.4fr;
}
section {
    width: 90vw;
}
main section article {
    display: flex;
    margin-left: 1vw;
}
.onetwo p {
    font-size: 2vw;
    font-family: sans-serif;
}
.onetwo p {
    font-size: 2vw;
    font-family: sans-serif;
}
.boom2 {
    margin-left: 1vw;
    margin-top: 3vw;
}
.boom3 {
    margin-left: 0vw;
}
.boom4 {
    margin-left: 0vw;
    margin-top: 3vw;
}
.boom5 {
    margin-left: 3vw;
}
.boom6 {
    margin-left: 3vw;
}
.img1 {
    width: 8vw;
    height: 9vw;
    image-rendering: pixelated;
}
.text1 {
    font-size: 2vw;
    font-family: sans-serif;
    width: 10vw;
    margin-left: 3vw;
}
.img2 {
    width: 10vw;
    height: 3vw;
    margin-top: 3vw;
    margin-left: 4vw;
}
.img3 {
    width: 13vw;
    height: 6vw;
    margin-top: 1.5vw;
    margin-left: 1.5vw;
}
.text2 {
    font-size: 2vw;
    font-family: sans-serif;
    margin-top: 3vw;
}
.img4 {
    width: 13vw;
    height: 7vw;
    margin-top: 1vw;
    margin-left: 1vw;
}
.text3 {
    font-size: 2vw;
    font-family: sans-serif;
    margin-top: 3vw;
}
.text4 {
    font-size: 2vw;
    font-family: sans-serif;
}
article {
    display: block;
}
.h1 {
    font-family: sans-serif;
    text-align: center;
    margin-top: 1vw;
    font-size: 3vw;
}
h2 {
    font-family: sans-serif;
    margin-left: 3%;
    font-size: 2vw;
}

.text {
    width: 82.5vw;
    height: 11vw;
    font-size: 2vw;
    background-color: #E7E7E7;
    padding: 2vw;
    font-family: sans-serif;
    text-align: center;
    margin-left: 7vw;
}
.one {
    width: 24vw;
    height: 18vw;
    margin-left: 7vw;
    padding-bottom: 3vw;
}
.two {
    font-size: 3vw;
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    margin-left: 18vw;
    background-color: lightblue;
    padding: 2vw;
    border-radius: 4vw;
    box-shadow: 0.7vw 0.7vw 0.3vw 0.4vw grey;
}
.three {
    font-size: 3vw;
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    margin-left: 28vw;
    background-color: lightblue;
    padding: 2vw;
    border-radius: 4vw;
    box-shadow: 0.7vw 0.7vw 0.3vw 0.4vw grey;
    
}
.two:hover {
    font-size: 4vw;
    text-decoration: none;
    font-family: sans-serif;
    color: purple;
    background-color: lightblue;
    padding: 2vw;
    border-radius: 30vw;
    box-shadow: 0.7vw 0.7vw 0.3vw 0.4vw grey;
}
.three:hover {
    font-size: 4vw;
    text-decoration: none;
    font-family: sans-serif;
    color: purple;
    background-color: lightblue;
    padding: 2vw;
    border-radius: 30vw;
    box-shadow: 0.7vw 0.7vw 0.3vw 0.4vw grey;
}
.foot {
    width: 83vw;
    height: 4vw;
    font-size: 2vw;
    margin-left: 7vw;
    background-color: #E7E7E7;
    padding: 2vw;
    font-family: sans-serif;
    text-align: center;
    margin-top: 5vw;
}
.for {
    text-align: center;
    font-family: sans-serif;
    font-size: 250%;
}
p a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
p a:hover {
    color: purple;
    text-decoration: none;
    font-size: 105%;
}
iframe {
    margin-left: 15%;
    padding-bottom: 2%;
    width: 70%;
     height: 70%;
}
body {
    background-image: linear-gradient(	#A2FFFB, #80FFFA, #55FFF9, #1CA6A1)
}
.two22222 {
    font-size: 1.7vw;
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    margin-left: 2vw;
    background-color: lightblue;
    padding: 2.5 2.5 2 1vw;
    width: 9vw;
}
.three33333{
    font-size: 1.7vw;
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    margin-left: 2vw;
    background-color: lightblue;
    padding: 2.5 2.5 2 1vw;
    width: 13vw;
}
.two22222:hover {
    font-size: 3vw;
    text-decoration: none;
    font-family: sans-serif;
    color: purple;
    margin-left: 2vw;
    background-color: lightblue;
    padding: 3 3 2.5 1.5vw;
    width: 16vw;
}
.three33333:hover {
    font-size: 3vw;
    text-decoration: none;
    font-family: sans-serif;
    color: purple;
    margin-left: 2vw;
    background-color: lightblue ;
    padding: 3 3 2.5 1.5vw;
    width: 16vw;
}
header h1 {
    text-align: center;
    font-family: sans-serif;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 3vw;
}
